
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  }

  body{
      margin: 0;
      padding: 0;
      background-color: #494949;
  }

   .Container{
    font-family: "Ubuntu";
   }

   .App-title{
       color:#a0a2ae;
       font-size: 2em;
       margin: 0.2em 0.2em;
   }

   .App-Content{
       display: grid;
       grid-template-columns: 100px auto 20px;
   }
   .Form-Search{
       display: flex;
       grid-column-start: 2;
   }
   .Search-Field{
       text-align: center;
       flex-grow: 1;
       font-family: inherit;
       font-size: 7vw;
       line-height: 1;
       display: inline-block;
       box-sizing: border-box;
       width: 75%;
       padding: 0.05em 0;
       color: #d17c78;
       border-bottom: 2px solid;
       border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}

.Search-Field:focus {
	outline: none;
}
.Img-Profile{
    width: 350px;
    height: 350px;
    box-shadow: 2px 2px 5px rgb(46, 46, 46);
    border-radius: 175px;
    object-fit: cover;
}
.Profile{
    margin-top: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center
}

.Followers{
    font-size: 1.8vw;
    color: #f1d51d;
}
.Genres{
    color: #6d6d6d;
    
}
.gallery-container{
    margin-top: 1.9em;
}
.gallery-title{
    color: white;
    text-align: center;
    margin: 0.5em 0
}
.gallery{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}
.track{
    padding: 0.5em;
    position:relative;
}
.track-img{
    width: 100%;
    box-shadow: 2px 2px 5px rgb(46, 46, 46);
    height: 320px;
    object-fit: cover
}
.track-text{
    color: #ccc
}
.track-play{
    width: 60px;
    height: 60px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.track-play-inner{
    text-align: center;
    font-size: 2.5em;
    background-color:black;
    border-radius:30px;
    width: 60px;
    height: 60px;
    color: white;
    cursor: pointer;

    left:50%;
    top:41%;
    transform: translate(-50%, -50%);
    position:absolute;
   
 
}